.slider-bood.text-center {
    padding: 100px 0;
    background: #FFF1DE;
    margin-bottom: 100px;
}

.video-headline h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}

.slider-bood.text-center img {
    width: 815px;
    height: 515px;
}


.slider-bood.text-center {
    padding: 100px 0;
    background: #FFF1DE;
    margin-bottom: 100px;
}


.slider-bood button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 216px;
    right: 629px;
}

.slider-bood .carousel-group {
    position: relative;
}