.slider-bood.text-center {
    padding: 100px 0;
    background: #FFF1DE;
    margin-bottom: 100px;
}

.video-headline h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}

.slider-bood.text-center img {
    width: 815px;
    height: 515px;
}


.slider-bood.text-center {
    padding: 100px 0;
    background: #FFF1DE;
    margin-bottom: 100px;
}


.slider-bood button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 216px;
    right: 629px;
}

.slider-bood .carousel-group {
    position: relative;
}


.photo-submit-slider {
    position: relative;
  }

  .slide-item{
    padding: 20px;
    img {
        width: 100%;
      }
  }

  .prevbutton,
  .nexbutton {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
  }

  .prevbutton {
    left: -80px;
  }

  .nexbutton {
    right: -80px;
  }
  
  .slide-item p {
    font-size: 25px;
}