

.hero-area{
    .hero-title {
        margin-bottom: 100px;
        h2 {
            font-size: 60px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .feature-hero{
        margin-bottom: 100px;
        img{
            border-radius: 15%;
        }
    }
}